

/* chivan toegevoegd op 23-920102 */



#CoverAndMovieInfo
{
    border: 1px;
    border-style: solid;
    padding: 5px;
    height: 100%;
    width: 350px;
    float: left;
    background-color: #F60;
}

#CoverAndMovieInfo .filmtitel
{
    font-weight: bold;
    font-size:  20px;
    margin-top: 5px;
    margin-left: 10px;
}

#CoverAndMovieInfo .filmbeschrijving
{
    font-weight: bold;
    font-size:  13px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    
}

#CoverAndMovieInfo .filmtijd
{
    font-weight: bold;
    font-size:  15px;
    margin-left: 10px;
}

#CoverAndMovieInfo img
{
    margin-top: 10px;
    display: block;
    margin-left: 10px;
    margin-bottom: 0px;
}

#ReserverenMainContent
{
    margin-top: 5px;
    min-height: 600px;
    margin-bottom: 5px;
}

#ReserverenMainContent h1
{
    font-size: 18px;
    margin-top: 10px;
}

#ReserverenMainContent h2
{
    font-size: 15px;
    margin-left: 10px;
}

#ReserverenMainContent label
{
    margin-left: 10px;

}

#PrijzenEnForm
{
    height: 100%;
    width: 715px;
    border: 1px;
    border-style: solid;
    float: right;
    padding: 5px;
}

#IdealBetaling
{
    height: 100%;
    width: 715px;
    border: 1px;
    border-style: solid;
    float: right;
    padding: 5px;
    margin-bottom: 10px;
}

#ReserverenForm input, select
{
    min-height:15px;
    width: 150px;
    padding: 5px;
    background-color: #ffffff;
    border-style: solid;
    margin-left: 10px;
    
}


#StoelPrijzen
{
    width: 49%;
    float: left;
    height: 100%;
    margin-top: 20px;
}

#StoelPrijzen table
{
    border-spacing: 0px;
    width: 95%;
    margin-left: 10px;
    margin-top: 17px;
}

#StoelPrijzen th
{
    text-align: left;
    border-color: #F60;
    background-color:#F60;
    font-size: 12px;
    
}

#StoelPrijzen tfoot
{
    background-color: lightgray;
    font-weight: bold;
    font-size: 12px;
}



#formulier
{
    border-left: 1px;
    border-left-style: solid;
    border-color: black;
    width: 50%;
    float: right;
    height: 100%;
    margin-top: 20px;
    padding-bottom: 10px;
}

#ReserverenHeader
{
    width: 100%;
    margin-left: 10px;
    font-size: 13px;
}