    .NormaalStoel
     {
         background-image: url('../image/StoelSelectie/seatnormal.png');
         background-repeat: no-repeat;
         background-size: 19px 19px;
	 height:19px;
         min-width: 18px;
     }
         
      .PrimiumStoel
      {
         background-image: url('../image/StoelSelectie/seatpremium.png');
         background-repeat: no-repeat;
         background-size: 19px 19px;
	 height:19px;
         min-width: 18px;
      }
      
      .VIPStoel
      {
         background-image: url('../image/StoelSelectie/seatvip.png');
		 min-height:19px;
         min-width: 18px;
                  background-repeat: no-repeat;
         background-size: 19px 19px;
      }
      .onbeschikbaar
      { 
          background-image: url('../image/StoelSelectie/seatunavailable.png');
         height:19px;
         min-width: 18px; 
         background-repeat: no-repeat;
         background-size: 19px 19px;
      }
/*      .geselecteerd
      { 
          background-color:  #009900; 
         height:19px;
         min-width: 19px;    
                          background-repeat: no-repeat;
         background-size: 19px 19px;
      }*/