    .NormaalStoel
     {
         background-color: #0000ff;
	 height:20px;
     }
         
      .PrimiumStoel
      {
         background-color: #ff9900;
	 height:20px;
      }
      
      .VIPStoel
      {
          background-color: #cc0000;
	 height:20px;
      }
      .onbeschikbaar
      { 
          background-color:  #999999;
                height:20px;	 
      }
      .geselecteerd
      { 
          background-color:  #9900ff; 
                height:20px;               
      }