body {
    margin: 0;
    padding: 0;
    background: #660000;
}

a, a:visited
{
    color: white;
}

#sideContent  {
    width: 400px;
    float: left;

}

#mainContent {
    width: 675px;
    float: right;
    padding-top: 0px;
}
header {
    width: 1100px;
    margin: 0 auto;
    margin-bottom: -5px;
    background: #fff;
    text-align: center;
    background-image: url("../image/header2.png");
    height: 169px;
}

header a
{
    margin: 0 auto;
    border: 0;
}

nav {
    width: 1130px;
    height: 50px;
    margin: 0 auto;
    background: #000000;
    border-radius: 5px;

}

nav ul {
    list-style: none;
    margin: 0;
    margin-left: 50px;
    z-index: 50;
}

nav ul li {
    float: left;
    margin-right: 50px;
    margin-top: 14px;
    width: 100px;
    border-right: 1px solid #303030;
        text-decoration: none;
    color: #fff;
    font-family: arial;
    display: block;
    font-weight: bold;
    z-index: 50;

}

nav ul li ul {
    display: none;
}
nav ul li:hover ul {
    background-color: black;
    display: block;
    position: absolute;
    margin-left: -10px;
    padding-right: 0;
    padding-top: 15px;
    -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
z-index: 50;
    
}
nav ul li:hover li {
    display: block;
    width: 100%;
    clear: both;
    float: left;
    margin-left: -20px;
    border: 0;
    padding-right: 0px;
    padding-top: 15px !important;
    padding-bottom: 15px !important; 
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    z-index: 50;
}


nav ul li ul li a {

    width: 100%;
    padding-right: 0px;
    margin-right: -30px;
    z-index: 50;
}

#lastLi {
    border-right: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: arial;
    display: block;
    font-weight: bold;

}

#sideContent form {
    background: #fff;
    width: 350px;
    border: 2px solid #000;
    margin-left: 25px;
    margin-top: 0px;
    font-family: arial;
    box-shadow: 0 0 5px 5px #440000;

}


#sideContent form p {
    font-size: 18px;
    padding-left: 20px;
}

#dag1 {
    margin-left: 25px;
}

#tijd1 {
    margin-left: 31px;
}

#film1 {
    margin-left: 29px;
}

#sideContent form p select {
    width: 175px;
}

#sideContent form button {
    width: 100px;
    height: 40px;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    background: #000;
    color: #fff;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    margin-right: 5px;
}



#pagebanner {
    margin-left: 0px;
    width: 640px;
    height: 270px;
    box-shadow: 0 0 5px 5px #440000;

}


#schedule {
    width: 645px;
    background: #660000;
    box-shadow: 0 0 5px 5px #440000;
}

#schedule p {
    display: block;
    width: 635px;
    height: 25px;
    background: #000;
    color: #fff;
    padding-left:10px;
    padding-top: 5px;
    font-family: arial;
    font-weight: bold;

}

.blockheader {
    display: block;
/*    padding-right: -15px;*/
    height: 25px;
    background: #000;
    color: #fff;
    padding-left:10px;
    padding-top: 5px;
    font-family: arial;
    margin-top: 0px;
    font-weight: bold;
    font-size: 16px;
}

.subblockheader {
/*    padding-right: -15px;*/
    font-weight: normal;
    background: #000;
    color: #fff;
    padding-left:10px;
    padding: 5px;
    font-family: arial;
    margin-top: 0px;
    font-size: 16px;
}

.timeTable  {
    display: block;
    clear: both;
    background: #fff;
    margin-left: 0px;
    color: #000;
    border-collapse: collapse;
    width: 645px;
    font-family: arial;

}

.timeTable a
{
    color:#000;
    text-decoration: none;
}

.timeTable a:visited
{
    color:#000;
    text-decoration: none;
}


.timeHeaderTable  {
    background: #fff;
    margin-left: 0px;
    color: #000;
    border-collapse: collapse;
    width: 645px;
    margin-top: -16px;
    font-family: arial;

}

#vandaag{
    margin-right: 20px;
    background: #000;
    color: #fff;
}

#morgen {
    margin-right: 20px;
    background: #000;
    color: #fff;

}

.timeHeaderTable .currentDate {
    background: #660000;
}



#overmorgen {
    margin-right: 20px;
    background: #000;
    color: #fff;
}

.timeTable  th {
    padding-right: 20px;
    height: 30px;
    text-align: left;
    padding-left: 10px;
    width: 375px;   
}

.timeHeaderTable  th {
    width: 325px;
    height: 35px;
    text-align: left;
    padding-left: 10px;
}

.timeTable  tr {
    border-bottom: 1px solid #DDDDDD;
}

.dateRow {
    border-bottom: 1px solid #DDDDDD;
    width: 640px;
    background: #cccccc;
}

.dateRow th {
    width: 300px;
    height: 35px;
}


.timeHeaderTable  th button {
    width: 100px;
    height: 25px;
    background: #888888;
    color: #fff;
    border: none;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial;
    padding: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    border-radius: .5em;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#reviews {
    width: 200px !important; 
    height: 45px !important;
    background: #ffbb00 !important;
    border: 1px solid #000 !important;
    margin-left: 75px !important;
    margin-top: 5px !important;
    font-family: arial !important;
    font-weight: bold !important;
    display: inline-block !important;
    outline: none !important;
    cursor: pointer !important;
    text-align: center !important;
    text-decoration: none !important;
    font: 14px/100% Arial !important;
    padding: .5em 2em .55em !important;
    text-shadow: 0 1px 1px rgba(0,0,0,.3) !important;
    border-radius: .5em !important;
    box-shadow: 0 1px 2px rgba(0,0,0,.2) !important;
}

#reviews:hover {
    text-decoration: none !important;
}


#top10 {
    width: 350px;
    background: #550000;
    margin-left: 25px;
    box-shadow: 0 0 5px 5px #440000;

}

#top10 ul
{
    padding-bottom: 5px;
    cursor: pointer;
}

#top10 ul li button {
    border: none;
    width: 25px;
    text-align: center;
    margin-right: 5px;
    background: #000;
    color: #fff;
    cursor: pointer;

}

#top10 ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    color: #fff;
    font-family: arial;
}

#top10 ul li {
    margin-left: 10px;
    display: block;
    margin-bottom: 3px;
    border-bottom: 1px solid #440000;
    width: 325px;
}

#top10header {
    border-bottom: none;
    margin-bottom: 0px;
}

#top10header p {
    display: block;
    width: 340px;
    height: 25px;
    background: #000;
    margin-left: -10px;
    padding-left: 10px;
    font-family: arial;
    margin-bottom: 0px;
    padding-top: 5px;
    font-weight: bold;
}




#firstLi {
    border-top: none;
}

.ZoekSubmitButton
{
    color:white;
    background-color: black;
    border:none;
    font-weight: bold;
    font-family: arial;
    font-size: 16px;
}

.timeClass button {
    width: 75px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    margin-right: 5px;
}

.timeClass button:hover {
    background: #660000;
    color: #fff;
}

.reserveren
{
    background-color: #FFBB00;
    color: #000000;
}

.uitverkocht
{
    background-color: #666666;
    color: #ffffff;
}


.timeClass
{
    width: 265px;    
}

footer {
    float: left;
    width: 1100px;
    height: 200px;
    background: #440000;
    margin-top: 25px;
    border-top: 1px solid #000;
    font-family: arial;
}

footer p {
    margin-top: 25px;
    display: block;
    border-bottom: 1px solid #ff9900;
    width: 200px;
    color: #ff9900;
    font-weight: bold;
    font-size: 25px;
    margin-left: 35px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    color: #fff;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 40px;
    float: left;
}

#specialsDiv {
    width: 645px;
    font-family: arial;
    background: #440000;
    box-shadow: 0 0 5px 5px #440000;
    margin-top: 16px;
}

#mainSpecialsDiv {
    width: 325px;
}

#specialsDiv h2 {
    display: block;
    height: 40px;
    width: 635px;
    background: #000;
    color: #fff;
    padding-top: 4px;
}

#specialsDiv h2,h3,p {
    padding-left: 10px;
}

#specialsDiv h3 {
    color: #fff;
}

#specialsDiv p {
    color: #fff;
    margin-top: 0px;
    width: 425px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 13px;
}

#specialSideContent, #mainSpecialsDiv {
    float: left;
}

#specialSideContent  {
    margin-top: 70px;
}



#filmPoosterEnInfo {
    width: 350px;
    background: #550000;
    margin-left: 25px;
    box-shadow: 0 0 5px 5px #440000;
    padding-bottom: 25px;
}


#filmPoosterEnInfo h2 {
    margin-left: 0px;
    margin-top: 15px;
    font-size: 16px;
    font-family: arial;
    color: #FFFFFF;
}


#FacebookEventAanmaken img {
    margin-left: 50px;
    width: 250px;
    box-shadow: 0 0 5px 5px #440000;
    margin-top: 15px;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 0px;
}

#filmInfo
{
    padding-left: 0px;
    font-family: Arial;
    margin-left: 50px;
    margin-right: 50px;
    color: #FFFFFF;
    font-size: 13px;
}

#filmInfo p
{
    padding-left:0px;
}



#tijdEnZaal
{
    margin-top: 25px;
    font-size: 13px;
    font-weight: bold;
    font-family: arial;
    color: #FFFFFF;
}

/* Hide these rules from IE-mac \*/
* html .clearfix {
    height: 1%;
}

li.clearfix {
    display: list-item;
}



#ss {
    width: 645px;
    background: #550000;
    box-shadow: 0 0 5px 5px #440000;
    display: inline-block;
    margin-right: 25px;
}

#ss:after {
    clear: both;
    display: block;
    content: " ";
    height: 0px;
    visibility: hidden;
}

#ss {
    display: block;
}

#ss h2
{
    margin-top: 0px;
}

#outerDiv {
    display: inline-block;
    margin: 0 auto;
    background: #660000;
    width: 1100px;
    border-left: 1px dotted #440000;
    border-right: 1px dotted #440000;
    padding-top: 15px;
    position: relative;
}

#outerDiv:after {
    clear: both;
    display: block;
    content: " ";
    height: 0px;
    visibility: hidden;
}

#outerDiv{
    display: block;
}

#Stoelen
{
    margin-top: 25px;

}

#Stoelen table {
    font-family: Arial;
    color: #FFFFFF;
    font-size: 11px;
    border-collapse: collapse;
    background-color: #440000;
    margin-left: 10px;
        margin: 0 auto;
    position: relative;
}

#Stoelen th
{
   
    color: #fff;
    border-collapse: collapse;
}

.RijNummerCell
{
  
    color: #FFF;
}

#StoelSelectieHeader
{
    font-family: Arial;
    color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px;
    width: 100%
}

#StoelSelectieHeader h1
{
    font-size: 18px;
    font-family: arial;
    color: #FFFFFF;
    margin-top: 10px;
}	
#GeselecteerdeStoelen
{
    display: block;
/*    padding-right: -15px;*/
    height: 25px;
    background: #000;
    color: #fff;
    padding-left:10px;
    padding-top: 5px;
    font-family: arial;
}


#ReserverenHeader h2
{
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 25px;
    margin-bottom: 15px;
}

#formulier
{
    margin-left: 25px;
    font-size: 13px;
    font-family: arial;
    color: #FFFFFF;
    padding-bottom: 10px;

}

#formulier h3
{
    font-size: 14px;
    font-family: arial;
    color: #FFFFFF;
    padding-left: 0px;
}

#formulier label
{
    font-size: 13px;
    font-family: arial;
    color: #FFFFFF;
}


#StoelPrijzen
{
    margin-left: 25px;
    font-size: 13px;
    font-family: arial;
    color: #FFFFFF;
    padding-bottom: 15px;
}

#StoelPrijzen h3
{
    padding-left:0px;
}

#StoelPrijzen th
{
    background-color: #ffffff;
    border-width: 0px;
    padding: 5px;
    color: #000000;
    font-size: 13px;
    font-family: arial;
    text-align: left;
}

#StoelPrijzen td
{
    padding: 5px;
    font-size: 13px;
    font-family: arial;
    color: #000000;
}

#StoelPrijzen table
{
    background-color: #cccccc;
    width: 50%;
    border-spacing: 0px;
    margin-bottom: 15px;
}

#StoelPrijzen tfoot
{
    background-color: #999999;
    color: #FFFFFF;
    font-weight: bold;
}

#legenda 
{
    margin-top: 25px;
    border-collapse: collapse;
    margin-left: 10px;
    float: left;
}

#legenda td
{
    font-family: Arial;
    color: #FFFFFF;
    font-size: 13px;
    border-collapse: collapse;
    background-color: #cccccc;
    margin-left: 10px;
    color: #000000;
    padding: 5px;
}

#legenda th
{
    background-color: #ffffff;
    border-collapse: collapse;
    padding: 5px;
    color: #000000;
    font-size: 13px;
    font-family: arial;
    text-align: left;
}

#Stap1GeselecteerdeStoelen 
{
    margin-top: 25px;
    border-collapse: collapse;
    margin-right: 10px;
    float: right;
}

#Stap1GeselecteerdeStoelen td
{
        font-family: Arial;
    color: #FFFFFF;
    font-size: 13px;
    border-collapse: collapse;
    background-color: #cccccc;
    margin-left: 10px;
    color: #000000;
    padding: 5px;
}

#Stap1GeselecteerdeStoelen tfoot td
{
    font-family: Arial;
    color: #FFFFFF;
    font-size: 13px;
    border-collapse: collapse;
    background-color: #999999;
    margin-left: 10px;
    color: #000000;
    padding: 5px;
}

#Stap1GeselecteerdeStoelen th
{
    background-color: #ffffff;
    border-collapse: collapse;
    padding: 5px;
    color: #000000;
    font-size: 13px;
    font-family: arial;
    
    text-align: left;
}
#Stap1GeselecteerdeStoelen tfoot
{
        background-color: #999999;
    color: #FFFFFF;
    font-weight: bold;
}

#StoelSelectieFooter
{
    display: block;
    clear: both;
    min-height: 250px;
}

#StoelSelectieFooter caption
{
    font-family: Arial;
    font-size: 16px;
    background-color: #000;
    color: #ffffff;
    text-align: left;
    padding: 5px;
    

}

.buttonLight
{
    float: right;
    font: 14px/100% Arial, Helvetica, sans-serif;
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .5em;
    height: 30px;
}

#StoelPrijzen caption
{
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 16px;
    padding: 5px;
    text-align: left;

}
#formulier caption
{
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
    margin-bottom: 5px;

}

#StoelSelectieFooter form
{
    display: block;
    clear: both;
    margin-top: 20px;
    float: right;
    margin-right: 10px;
    margin-bottom: 15px;
}

.icepayframe
{
    height: 800px;
    width: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    margin-top: -15px;
}

#bedankt
{
    background: #550000;
    font-family: Arial;
    font-size: 13px;
    color: #FFFFFF;
    margin-left: 15px;
    padding-right: 30px;
}

#bedankt h2
{
    margin-left: 10px;
    margin-top: 25px;
    font-size: 16px;
    font-family: arial;
    color: #FFFFFF;
    width: 350px;
}
#bedankt img
{
    float: right;
    top: 10px;
    cursor: pointer;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#PopupHeader
{
    color: #ffffff;
    margin-top: 5px;
    margin-left: 10px;
    font-family: Arial;
    font-size: 13px;
}

#PopupCover
{

    float: left;

}

#PopupCover img
{
    width: 150px;
    box-shadow: 0 0 5px 5px #440000;
    margin-left: 5px;
}

#filmInfoPopup
{
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    float: left;
    width: 370px;
    margin-left: 25px;

}

#PopUpForm input
{
    margin-left: 25px;
    float: left;
}

#filmInfoPopup p
{
    padding-left: 0px;
    padding-right: 10px;
}

#TitleTijdPopup
{
    font-size: 14px;
    color: #ffffff;
    margin-left: 10px;
    font-family: Arial;
}

#PopupFriendList
{
    color: #FFFFFF;
    font-size: 13px;
    font-family: Arial;
    margin-left: 15px;

}

#PopupFriendList table
{
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000000;
    background-color: #cccccc;
    border: 0px;
    font-size: 13px;
    border-collapse: collapse;
}

#PopupFriendList td
{
    padding: 5px;
    border: 0px;
    border-collapse: collapse;
}


#PopupFriendList th
{
    width: 150px;
    text-align: left;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 13px;
    border: 0px;
    padding: 5px;
    border-collapse: collapse;
}

#PopupFriendList thead
{
    border: 0px;
    border-collapse: collapse;
}
#loadinggif
{
    float: left;
    margin-left: 25px;
    color: #ffffff;
    font-size: 13px;
    font-family: Arial;
    margin-top: 25px;
}

#scherm
{
    border: 1px; text-align: center; 
    margin-bottom: 10px; 
    border-style: solid; 
    border-color: #000000; 
    background-color: #666666; 
    color: #FFFFFF; 
    height: 15px; 
    font-family: Arial; 
    font-size: 13px; 
    font-weight: bold; 
}

#TijdKlikPopup
{
    border-radius: .5em;
    background-color: #660000;
    width: 235px;
    outline: medium none;
    font-family: Arial;
    color:white;
    font-size: 13px;
    padding:10px;
    z-index: 50;
}

.popupButtonClass button
{
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    font: 14px/100% Arial,Helvetica,sans-serif;
    margin-right: 5px;
    outline: medium none;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    width: 100px;   
    margin-left: 10px;
    margin-top: 10px;
}

.popupButtonClass button:hover {
    background: #660000;
    color: #fff;
}

#trailer
{
    font-family: Arial;
    color: #FFFFFF;
    width: 645px;
    background: #550000;
    box-shadow: 0 0 5px 5px #440000;
    display: block;
    margin-right: 25px;
}

#trailer video
{
    margin-left: 10px;
    margin-bottom: 13px;
}

#filmomschrijving {
    width: 675px;
    display: block;
    padding-top: 0px;
    margin-top: 25px;
}

#filmomschrijvingHeader
{
    width: 645px;
    background: #550000;
    box-shadow: 0 0 5px 5px #440000;
    display: block;
    margin-right: 25px;
    margin-top: 16px;
    color: white;
    font-family: Arial;

}
.filmbeschrijving
{
    padding: 10px;
    margin-top: -13px;
    font-size: 13px;
}

#filmtijden
{
    width: 645px;
    background: #550000;
    box-shadow: 0 0 5px 5px #440000;
    display: block;
    margin-right: 25px;
    margin-top: 25px;
}

#filmPoosterEnInfo .kijkwijzer
{
    display: inline;
    height: 24px;
    width: 24px;
    margin-left: 0px;
    margin-right: 5px;
}

#filmPoosterEnInfo .pooster
{
    margin-left: 50px;
    margin-top: 5px;
    width: 250px;
    box-shadow: 0 0 5px 5px #440000;
}

#nubinnenkort
{
    font-family: Arial;
    color: #FFFFFF;
    width: 645px;
    background: #550000;
    box-shadow: 0 0 5px 5px #440000;
    display: inline-block;
    margin-right: 25px;
    padding-bottom: 15px;
}
.posterRow
{
    display: block;
    clear: both;
}
.filmoverzichtposter
{
    display: inline-block;
    box-shadow: 0 0 5px 5px #440000;
    margin-top: 15px;
    margin-left: 22.5px;
    font-size: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.filmoverzichtposter img
{
    border:none; 
}

.filmoverzichtposterrowview img
{
    border:none; 
}



.filmoverzichtposter:hover
{
    display: inline-block;
    box-shadow: 0 0 5px 5px #FFBB00;
    margin-top: 15px;
    margin-left: 22.5px;
    font-size: 10px;
    padding-bottom: 5px;
}

.filoverzichtcover
{
    width: 130px;
    display: inline;
    height: 192px;
    margin-left: -5px;
}

.filmoverzichtposter p
{
    font-size: 13px;
    background-color: #000;
    min-height: 18px;
    color: white;
    text-align: left;
    margin-top: -1px;
    margin-bottom: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    max-width: 120px;
    padding-right: 5px;
    margin-left: -5px;
}

.filmoverzichtbeschrijving
{
    font-size: 13px;   
    margin-right: 10px;
    float: right;
    width: 465px;
    margin-bottom: 5px;
}

.filoverzichtcoverrowview
{
    width: 130px;
    height: 192px;
    margin-left: -5px;
    float: left;
    margin-right: 10px;
}

.filmoverzichtposterrowview
{
    display: inline-block;
    float: left;
    box-shadow: 0 0 5px 5px #440000;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 10px;
    padding-left: 5px;
    width: 610px;
}

.filmoverzichtposterrowview p
{
    font-size: 13px;
    background-color: #000;
    min-height: 18px;
    color: white;
    text-align: left;
    margin-top: -1px;
    margin-bottom: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 5px;
    margin-left: -5px;
}

.GeenFilmsGevonden
{
    padding: 5px;
    font-family: Arial;
    font-size: 13px;
    color: white;
}

#ZoekPopup
{
    border: 1px;
    border-style: solid;
    width: 250px;
    position: relative;
    top: 200px;
    left: 827px;
    background-color: #333333;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
    z-index: 50;
}
#ZoekPopup p
{
 text-align: left;
 font-weight: bold;
 color:white;
 height: 20px;
 background-color: black;
 font-size: 13px;
 padding: 5px;
 font-family: Arial;
 margin: 0px;
}

#ZoekPopup td
{
    color:white;
    vertical-align: top;
    background-color: #333333;
    font-size: 13px;
    font-weight: bold;
    -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

#ZoekPopup table
{
    color: white;
    font-family: Arial;
    font-size: 13px;
    text-align: left;
    border-collapse: collapse;
}


#ZoekPopup thead th
{
    background-color: #666666;
    color:white;
    font-size: 14px;
    height: 20px;
    text-align: left;
    width: 250px;
}

#ZoekPopup img
{
   width: 80px;
   margin: 0px;
   border: 0px;
   margin-bottom: -4px; 
}

#ZoekPopup .ZoekPopupText:hover
{
    background-color: #550000;
}

#ZoekPopup a, a:visited
{
    text-decoration: none;
    color:white;
    font-family: Arial;
    font-size: 10px;
}

.ZoekPopupCover
{
    width: 80px;
}

.ZoekPopupText
{
    padding-left: 5px;
    
}

/*rogier*/

#infoDiv {
    width: 645px;

    background: #550000;
    margin-left: 0px;
    margin-top: 0px;
    box-shadow: 0 0 5px 5px #440000;
    padding-top: 0px;
    font-size: 13px;
    
}

#infoDiv h2 {
    display: block;
    width: 640px;
    background: #000;
    color: #fff;
    font-family: arial;
    height: 25px;
    font-weight: bold;
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 0px;
}

#infoDiv p#infoP{
    display: block;
    height: 30px;
    width: 630px;
    margin-top: 0px;
    background: #cccccc;
}

#infoDiv article {
    width: 600px;
    margin-left: 20px;
    color: #fff;
    font-family: arial;
    margin-top: 20px;
}

#infoDiv article form {
    margin-top: 25px;
    background: #440000;
    color: #fff;
    width: 450px;
    font-size: 13px;
   margin: 0 auto;
    font-family: arial;
    box-shadow: 0 0 5px 5px #440000;
    margin-top: 15px;

}

#infoDiv article form table
{
    padding-left: 15px;
    padding-right: 15px;
}


#infoDiv #comment
{
    width: 410px; height: 200px;
    margin-bottom: 15px;
}


#openingstijden {
    color: #fff;
    border-collapse: collapse;
    margin-left: 25px;
    margin-top: 25px;
}

#openingstijden th {
    width: 200px;
}

#openingstijden th, #openingstijden td{
    border-bottom: 1px solid #220000;
    text-align: left;
}

#infodiv iframe {
    margin-top: 20px;
    margin-left: 20px;
}

#adres {
    color: #fff;
    font-weight: bold;
    margin-top: 15px;
}

#routebeschrijving {
    color: #fff;
    width: 600px;

}

#routeDiv {
    width: 640px;
    margin-left: 20px;
    font-family: arial;
    font-size: 13px;
}

#table1, #table2 {
    width: 550px;
    background: #330000;
    margin: 0 auto;
    box-shadow: 0 0 5px 5px #440000;
    
}

#routeTable1, #routeTable2 {
    background: #440000;
    color: #fff;
    text-align: left;
    width: 550px;
    border-collapse: collapse;
    font-family: arial;
    margin-top: 5px;
    font-size: 13px;
}


#routeTable1 .td1, #routeTable2 .td1 {
    width: 150px;
}

#routeTable1 .td2, .td3 {
    width: 200px;
}	

#routetable1 .td1, .td2, .td3, #routeTable2 .td1, .td2, .td3 {
    font-size: 13px;
    height: 25px;
    padding-left: 5px;
}
#infodiv iframe {
    margin-top: 20px;
    margin-left: 20px;
}

#specialBeschrijving
{
    color: white;
    margin-top: 16px;
    font-size: 13px;
    width: 645px;
    background: #550000;
    box-shadow: 0 0 5px 5px #440000;
    display: inline-block;
    font-family: Arial;

}

.specialBeschrijvingText
{
    margin: 10px;
}

#HelpText1
{
    color:red !important;
}
#loader
{
    width:635px; margin-left: 5px; height: 100%; padding-bottom: 15px;
}

#loader p
{
    text-align:center; font-size: 13px; color:white; font-weight: bold; font-family: Arial; margin-bottom: 15px;
}

#SpecialAccordion h3
{
        display: block;
/*    padding-right: -15px;*/
    height: 25px;
    background: #000;
    color: #fff;
    padding-left:10px;
    padding-top: 5px;
    font-family: arial;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
}/*

*/#SpecialAccordion img
{
   display: inline-block;
   vertical-align: top;
   margin-top: -5px;
   border: 0px;
}

#ticker
{
    display: block;
    height: 90px;
    overflow: hidden;
    width: 325px;
    margin-left: 45px;
}