

a {
	color: #888888;
	text-decoration: none;
	outline: none;
}

#tabs-content {
	position: relative;
	clear: both;
}

li div {
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	border: 1px solid #888888;
	float: left;
	filter: alpha(opacity=0);
	opacity: 0;
	padding: 0 15px;
	position: absolute;
	visibility: hidden;
	width: 250px;
	left: 0;
}

#tabs {
	margin: 10px auto;
	min-height: 250px;
	width: 500px;
}

ul {
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}

#tabs li {
	float: left;
	list-style-type: none;
}

#tabs li a {
	background-color:transparent;
	border: 1px solid #888888;
	margin: 0 3px 0 0;
	padding: 5px 25px;
	position: relative;
	z-index: 1;
	font-size: 14px;

	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	display: block;
	top: 1px;
}

#tabs li a:hover {
background-color:transparent;
}



#One:target a,#Two:target a,#Three:target a {
	color: #F60;
	background-color:transparent;
	border-bottom: none;
	top: 1px;
	padding-top: 6px;
}

#One:target div,#Two:target div,#Three:target div {

	opacity: 1;
	visibility: visible;
	width:450px;
}




